<div class="navbar ph-line-nav" role="navigation">
	<div class="container menu">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand hidden-sm" href="/"><img src="[TEMPLATE]/images/logo.png" alt="logo"></a>
		</div>
		<nav class="nav navbar-collapse collapse bs-navbar-collapse">
			<div class="navigation" >
				<!--
				<a href="/">Logind</a>
				<a href="/modules/jobspecialisten/profile/signup">Opret</a>
				-->
				<a href="/cms/news">Nyheder</a>				
				<a href="/modules/jobspecialisten/info/moduler">Kurser</a>				
				<a href="/modules/jobspecialisten/info/information">Kunder</a>
				<label class="effect visible-lg visible-md"></label>
			</div>
		</nav>
	</div>
</div>