<script type="text/javascript">
	$(document).ready(function(){
		$(document).initGallery('services',6,'content');
	});	
</script>

<div class="slider_wrapper">
	<!-- Carousel -->
	<div id="myCarousel" class="carousel slide slider_ul">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
			<li data-target="#myCarousel" data-slide-to="4"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active slider1">
				<div class="carousel-caption">
					[SCROLLER1]
				</div>
			</div>
			<div class="item slider2">
				<div class="carousel-caption">
					[SCROLLER2]
				</div>
			</div>
			<div class="item slider3">
				<div class="carousel-caption">
					[SCROLLER3]
				</div>
			</div>
			<div class="item slider4">
				<div class="carousel-caption">
					[SCROLLER4]
				</div>
			</div>
			<div class="item slider5">
				<div class="carousel-caption">
					[SCROLLER5]
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
	<!-- /carousel -->
</div>