<div class="navbar ph-line-nav" role="navigation">
	<div class="container menu">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand hidden-sm hidden-xs" href="/"><img src="[TEMPLATE]/images/logo.png" alt="logo" id="logo-big"></a>
			<a class="navbar-brand-small visible-sm visible-xs" href="/"><img src="[TEMPLATE]/images/logo-small.png" alt="logo" id="logo-small"></a>
		</div>
		<nav class="nav navbar-collapse collapse bs-navbar-collapse">
			<div class="navigation">
				<ul class="nav navbar-nav">
					<li class="">
						<a href="javascript:newOrder()">Ny ordre</a>
					</li>
					<li class="">
						<a href="javascript:openOrders()">Åbne ordre</a>
					</li>
					<li class="">
						<a href="javascript:editableOrders()">Redigerbare</a>
					</li>
					<li class="">
						<a href="javascript:readableOrders()">Læsbare</a>
					</li>
					<li class="">
						<a href="javascript:closedOrders()">Lukkede</a>
					</li>
					<li class="">
						<a href="javascript:showUserInfo()">Forside</a>
					</li>
					<li class="">
						<a href="javascript:editUser()">Ret profil</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>