<div class="navbar ph-line-nav" role="navigation">
	<div class="container menu">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand hidden-sm hidden-xs" href="/" id="logo-big"><img src="[TEMPLATE]/images/logo.png" alt="logo"></a>
			<a class="navbar-brand-small visible-sm visible-xs" href="/" id="logo-small"><img src="[TEMPLATE]/images/logo-small.png" alt="logo"></a>
		</div>
		<nav class="nav navbar-collapse collapse bs-navbar-collapse">
			<div class="navigation">
				[MENULIST]
			</div>
		</nav>
	</div>
</div>