# This folder does not require access over HTTP
# (the following directive denies access by default)
# default index files
DirectoryIndex  ../nono.php

<Files ~ "^\.ht">
 Order allow,deny
 Deny from all
 Satisfy All
</Files>